<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Always Run on Main Thread</key>
	<false/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CanAddWidgetToMultipleParents</key>
	<true/>
	<key>FileProtection</key>
	<dict>
		<key>RawBytesFileProtection</key>
		<string>ProtectionComplete</string>
		<key>StoreFileProtection</key>
		<string>ProtectionComplete</string>
	</dict>
	<key>FlexLayoutDefaultValues</key>
	<dict>
		<key>SignInWithApple</key>
		<dict>
			<key>height</key>
			<string>50dp</string>
			<key>width</key>
			<string>300dp</string>
		</dict>
		<key>ARRenderer</key>
		<dict>
			<key>width</key>
			<string>100%</string>
			<key>height</key>
			<string>100%</string>
		</dict>
		<key>Canvas</key>
		<dict>
			<key>height</key>
			<string>220dp</string>
			<key>width</key>
			<string>100%</string>
		</dict>
		<key>Chart2D3D</key>
		<dict>
			<key>height</key>
			<string>75%</string>
			<key>width</key>
			<string>100%</string>
		</dict>
		<key>CheckBoxGroup</key>
		<dict>
			<key>height</key>
			<string>120dp</string>
			<key>width</key>
			<string>100%</string>
		</dict>
		<key>CollectionView</key>
		<dict>
			<key>height</key>
			<string>120dp</string>
			<key>width</key>
			<string>100%</string>
		</dict>
		<key>ComboBox</key>
		<dict>
			<key>height</key>
			<string>100dp</string>
			<key>width</key>
			<string>100dp</string>
		</dict>
		<key>DataGrid</key>
		<dict>
			<key>height</key>
			<string>120dp</string>
			<key>width</key>
			<string>100%</string>
		</dict>
		<key>FlexContainer</key>
		<dict>
			<key>height</key>
			<string>220dp</string>
			<key>width</key>
			<string>100%</string>
		</dict>
		<key>FlexScrollContainer</key>
		<dict>
			<key>height</key>
			<string>220dp</string>
			<key>width</key>
			<string>100%</string>
		</dict>
		<key>Line</key>
		<dict>
			<key>height</key>
			<string>2dp</string>
			<key>width</key>
			<string>50dp</string>
		</dict>
		<key>ListBox</key>
		<dict>
			<key>height</key>
			<string>40dp</string>
			<key>width</key>
			<string>260dp</string>
		</dict>
		<key>Map</key>
		<dict>
			<key>height</key>
			<string>75%</string>
			<key>width</key>
			<string>100%</string>
		</dict>
		<key>NativeContainer</key>
		<dict>
			<key>height</key>
			<string>220dp</string>
			<key>width</key>
			<string>100%</string>
		</dict>
		<key>PickerView</key>
		<dict>
			<key>height</key>
			<string>216dp</string>
			<key>width</key>
			<string>100%</string>
		</dict>
		<key>RadioButtonGroup</key>
		<dict>
			<key>height</key>
			<string>40dp</string>
			<key>width</key>
			<string>260dp</string>
		</dict>
		<key>RowTemplate</key>
		<dict>
			<key>height</key>
			<string>100dp</string>
			<key>width</key>
			<string>100%</string>
		</dict>
		<key>Segment</key>
		<dict>
			<key>height</key>
			<string>120dp</string>
			<key>width</key>
			<string>100%</string>
		</dict>
		<key>Segment2</key>
		<dict>
			<key>height</key>
			<string>120dp</string>
			<key>width</key>
			<string>100%</string>
		</dict>
		<key>Slider</key>
		<dict>
			<key>height</key>
			<string>100dp</string>
			<key>width</key>
			<string>260dp</string>
		</dict>
		<key>Tab</key>
		<dict>
			<key>height</key>
			<string>220dp</string>
			<key>width</key>
			<string>100%</string>
		</dict>
		<key>TextArea</key>
		<dict>
			<key>height</key>
			<string>120dp</string>
			<key>width</key>
			<string>260dp</string>
		</dict>
		<key>TextArea2</key>
		<dict>
			<key>height</key>
			<string>120dp</string>
			<key>width</key>
			<string>260dp</string>
		</dict>
		<key>TextBox</key>
		<dict>
			<key>height</key>
			<string>40dp</string>
			<key>width</key>
			<string>260dp</string>
		</dict>
		<key>TextBox2</key>
		<dict>
			<key>height</key>
			<string>40dp</string>
			<key>width</key>
			<string>260dp</string>
		</dict>
		<key>Web</key>
		<dict>
			<key>height</key>
			<string>220dp</string>
			<key>width</key>
			<string>100%</string>
		</dict>
	</dict>
	<key>KonyBundleIdentifier</key>
	<string>$(APP_BUNDLE_IDENTIFIER)</string>
	<key>NSPrincipalClass</key>
	<string></string>
	<key>ServiceSimulator</key>
	<dict>
		<key>IgnoreServiceCallKeys</key>
		<array>
			<string>memory</string>
			<string>deviceid</string>
			<string>cacheid</string>
		</array>
		<key>Mode</key>
		<string>InactiveMode</string>
	</dict>
	<key>accessibilityEnabled</key>
	<true/>
	<key>defaultRemoteNotificationCallbackBehaviour</key>
	<string>NO</string>
	<key>destroyWidgetViewsOnlyOnLowMemory</key>
	<true/>
	<key>enableIntegralsInLayout</key>
	<false/>
	<key>encoding</key>
	<dict>
		<key>encodeUrlForPDFView</key>
		<true/>
		<key>encodeImageURL</key>
		<true/>
		<key>encodeNetAPI</key>
		<true/>
		<key>encodeOpenURL</key>
		<true/>
		<key>encodeRichTextURL</key>
		<false/>
		<key>encodeUrlForBrowser</key>
		<true/>
	</dict>
	<key>exceptionOnInvalidPopupContext</key>
	<false/>
	<key>fileExcludeFromBackup</key>
	<false/>
	<key>respectShadowDirection</key>
	<false/>
	<key>isComponentSupportedInSegment</key>
	<true/>
	<key>extendTop</key>
	<false/>
	<key>extendBottom</key>
	<false/>
	<key>statusBarHidden</key>
	<false/>
	<key>genericexceptionalert</key>
	<false/>
	<key>exceptionalert</key>
	<true/>
	<key>globalsmonitoring</key>
	<false/>
	<key>backward_compatibility_mode</key>
	<false/>
	<key>supported_environment</key>
	<string>js</string>
	<key>KonyHTTPPublicKeyPinning</key>
	<false/>
	<key>pasteboardtype</key>
	<integer>2</integer>
	<key>allowselfsignedcertificate</key>
	<false/>
	<key>inputaccessoryviewtype</key>
	<string>APPLICATION_INPUTACCESSORYVIEW_NEXTPREV</string>
	<key>statusBarStyle</key>
	<string>STATUS_BAR_STYLE_DEFAULT</string>
	<key>KONY_CAMERA</key>
	<dict>
		<key>konyres_cancel_icon</key>
		<string>konyres_cancel_icon.png</string>
		<key>konyres_settings_icon</key>
		<string>konyres_settings_icon.png</string>
	</dict>
<key>CFBundleIdentifier</key>
	<string>com.kony.KonyJS</string>
<key>FriendlyWidgetIDMode</key>
	<string>true</string>
</dict>
</plist>