<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nativeButtonFocusImage</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSTypeDefault</string>
		<key>ext_acc_type</key>
		<string>ReadWrite,SegUI</string>
		<key>int_type</key>
		<string>NativeUserDefined</string>
		<key>ext_in_type</key>
		<string>JSTypeDefault</string>
		<key>int_name</key>
		<string>nativeButtonFocusImage</string>
	</dict>
	<key>nativeButtonNormalImage</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSTypeDefault</string>
		<key>ext_acc_type</key>
		<string>ReadWrite,SegUI</string>
		<key>int_type</key>
		<string>NativeUserDefined</string>
		<key>ext_in_type</key>
		<string>JSTypeDefault</string>
		<key>int_name</key>
		<string>nativeButtonNormalImage</string>
	</dict>
	<key>buttonType</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>ext_acc_type</key>
		<string>ReadOnly</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>JSString, JSNumber</string>
		<key>int_name</key>
		<string>buttonType</string>
	</dict>
	<key>text</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>ext_acc_type</key>
		<string>ReadWrite,SegUI,CollectionView</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>JSString, JSNumber</string>
		<key>int_name</key>
		<string>text</string>
		<key>default_property</key>
		<true/>
	</dict>
	<key>displayText</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>ext_in_type</key>
		<string>JSBoolean</string>
		<key>int_name</key>
		<string>displayText</string>
	</dict>
	<key>cacheConfig</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSDictionary</string>
		<key>ext_acc_type</key>
		<string>ReadWrite,SegUI</string>
		<key>int_type</key>
		<string>NSDictionary</string>
		<key>ext_in_type</key>
		<string>JSDictionary</string>
		<key>int_name</key>
		<string>cacheConfig</string>
	</dict>
	<key>normalimage</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>ext_acc_type</key>
		<string>ReadWrite,SegUI,CollectionView</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>JSString</string>
		<key>int_name</key>
		<string>normalImage</string>
	</dict>
	<key>focusimage</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>ext_acc_type</key>
		<string>ReadWrite,SegUI,CollectionView</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>JSString</string>
		<key>int_name</key>
		<string>focusImage</string>
	</dict>
	<key>onClick</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSCallBack</string>
		<key>ext_acc_type</key>
		<string>ReadWrite,SegUI,CollectionView</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>ext_in_type</key>
		<string>JSCallBack</string>
		<key>int_name</key>
		<string>onClick</string>
	</dict>
	<key>progressIndicatorColor</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>JSString</string>
		<key>int_name</key>
		<string>progressIndicatorColor</string>
	</dict>
	<key>showProgressIndicator</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>ext_in_type</key>
		<string>JSBoolean</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>showProgressIndicator</string>
	</dict>
	<key>glowEffect</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>ext_in_type</key>
		<string>JSBoolean,JSString</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>int_name</key>
		<string>glowEffect</string>
	</dict>
	<key>contentAlignment</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>JSNumber</string>
		<key>int_name</key>
		<string>contentAlignment</string>
	</dict>
	<key>rawData</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSRawBytes</string>
		<key>ext_acc_type</key>
		<string>ReadWrite,SegUI,CollectionView</string>
		<key>int_type</key>
		<string>RawBytes</string>
		<key>ext_in_type</key>
		<string>JSRawBytes</string>
		<key>int_name</key>
		<string>rawData</string>
	</dict>
	<key>rawBytes</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSRawBytes</string>
		<key>ext_acc_type</key>
		<string>ReadWrite,SegUI,CollectionView</string>
		<key>int_type</key>
		<string>NativeRawBytes</string>
		<key>ext_in_type</key>
		<string>JSRawBytes</string>
		<key>int_name</key>
		<string>rawData</string>
	</dict>
	<key>wrapping</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>JSNumber</string>
		<key>int_name</key>
		<string>wrapping</string>
	</dict>
	<key>highlightedSkin</key>
	<dict>
		<key>ext_acc_type</key>
		<string>ReadWrite,SegUI,CollectionView</string>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>JSString</string>
		<key>int_name</key>
		<string>highlightedSkinID</string>
	</dict>
	<key>highlightOnParentFocus</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>ext_acc_type</key>
		<string>ReadWrite,SegUI,CollectionView</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>ext_in_type</key>
		<string>JSBoolean</string>
		<key>int_name</key>
		<string>highlightOnParentFocus</string>
	</dict>
	<key>image</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSKonyImage</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>KonyImage</string>
		<key>ext_in_type</key>
		<string>JSKonyImage</string>
		<key>int_name</key>
		<string>konyImage</string>
	</dict>
</dict>
</plist>
