<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>searchContentInPDF</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSCallBack</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>ext_in_type</key>
		<string>JSCallBack</string>
		<key>int_name</key>
		<string>searchContentInPDF</string>
	</dict>
	<key>thumbnailBackgroundColor</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>JSString, JSNumber</string>
		<key>int_name</key>
		<string>thumbnailBackgroundColor</string>
		<key>default_property</key>
		<true/>
	</dict>
	<key>pdfThumbnailSizeInPercentage</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string> JSNumber</string>
		<key>int_name</key>
		<string>pdfThumbnailSizeInPercentage</string>
		<key>default_property</key>
		<true/>
	</dict>
	<key>pdfThumbnailPosition</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>JSNumber</string>
		<key>int_name</key>
		<string>pdfThumbnailPosition</string>
		<key>default_property</key>
		<true/>
	</dict>
	<key>enablePDFThumbnailView</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>ext_in_type</key>
		<string>JSBoolean</string>
		<key>int_name</key>
		<string>enablePDFThumbnailView</string>
		<key>default_property</key>
		<true/>
	</dict>
	<key>isPDFEncrypted</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>ext_acc_type</key>
		<string>Read</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>ext_in_type</key>
		<string>JSBoolean</string>
		<key>int_name</key>
		<string>isPDFEncrypted</string>
		<key>default_property</key>
		<true/>
	</dict>
	<key>isPDFLocked</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>ext_acc_type</key>
		<string>Read</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>ext_in_type</key>
		<string>JSBoolean</string>
		<key>int_name</key>
		<string>isPDFLocked</string>
		<key>default_property</key>
		<true/>
	</dict>
	<key>onDocumentChanged</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSCallBack</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>ext_in_type</key>
		<string>JSCallBack</string>
		<key>int_name</key>
		<string>onDocumentChanged</string>
	</dict>
	<key>onPageChanged</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSCallBack</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>CallBack</string>
		<key>ext_in_type</key>
		<string>JSCallBack</string>
		<key>int_name</key>
		<string>onPageChanged</string>
	</dict>
	<key>enableZoom</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>ext_in_type</key>
		<string>JSBoolean</string>
		<key>int_name</key>
		<string>enableZoom</string>
		<key>default_property</key>
		<true/>
	</dict>
	<key>minScaleFactor</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string> JSNumber</string>
		<key>int_name</key>
		<string>minScaleFactor</string>
		<key>default_property</key>
		<true/>
	</dict>
	<key>maxScaleFactor</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string> JSNumber</string>
		<key>int_name</key>
		<string>maxScaleFactor</string>
		<key>default_property</key>
		<true/>
	</dict>
	<key>autoScales</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>ext_in_type</key>
		<string>JSBoolean</string>
		<key>int_name</key>
		<string>autoScales</string>
		<key>default_property</key>
		<true/>
	</dict>
	<key>interpolationQuality</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string> JSNumber</string>
		<key>int_name</key>
		<string>interpolationQuality</string>
		<key>default_property</key>
		<true/>
	</dict>
	<key>isUsingPageViewController</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>ext_acc_type</key>
		<string>Read</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>ext_in_type</key>
		<string>JSBoolean</string>
		<key>int_name</key>
		<string>isUsingPageViewController</string>
		<key>default_property</key>
		<true/>
	</dict>
	<key>usePageViewController</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>ext_in_type</key>
		<string>JSBoolean</string>
		<key>int_name</key>
		<string>usePageViewController</string>
		<key>default_property</key>
		<true/>
	</dict>
	<key>displaysAsBook</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>ext_in_type</key>
		<string>JSBoolean</string>
		<key>int_name</key>
		<string>displaysAsBook</string>
		<key>default_property</key>
		<true/>
	</dict>
	<key>displayRTL</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>ext_in_type</key>
		<string>JSBoolean</string>
		<key>int_name</key>
		<string>displayRTL</string>
		<key>default_property</key>
		<true/>
	</dict>
	<key>displayPageBreak</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSBoolean</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>BOOL</string>
		<key>ext_in_type</key>
		<string>JSBoolean</string>
		<key>int_name</key>
		<string>displayPageBreak</string>
		<key>default_property</key>
		<true/>
	</dict>
	<key>displayDirection</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSNumber</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSNumber</string>
		<key>ext_in_type</key>
		<string>JSNumber</string>
		<key>int_name</key>
		<string>displayDirection</string>
		<key>default_property</key>
		<true/>
	</dict>
	<key>displayBox</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>JSString, JSNumber</string>
		<key>int_name</key>
		<string>displayBox</string>
		<key>default_property</key>
		<true/>
	</dict>
	<key>displayMode</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>JSString, JSNumber</string>
		<key>int_name</key>
		<string>displayMode</string>
		<key>default_property</key>
		<true/>
	</dict>
	<key>url</key>
	<dict>
		<key>ext_out_type</key>
		<string>JSString</string>
		<key>ext_acc_type</key>
		<string>ReadWrite</string>
		<key>int_type</key>
		<string>NSString</string>
		<key>ext_in_type</key>
		<string>JSString, JSNumber</string>
		<key>int_name</key>
		<string>url</string>
		<key>default_property</key>
		<true/>
	</dict>
</dict>
</plist>
